@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print { 
    display: none; 
  }
  body { 
    background: white; 
    color: black; 
  }
}

::-webkit-scrollbar { 
  width: 8px; 
}

::-webkit-scrollbar-track { 
  background: transparent; 
}

::-webkit-scrollbar-thumb { 
  background: #cbd5e1; 
  border-radius: 4px; 
}

.dark ::-webkit-scrollbar-thumb { 
  background: #334155; 
}

.bg-grid-slate-100 { 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"); 
}

.dark .bg-grid-slate-800 { 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%231e293b'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"); 
}
